# Pandas Assingment-3

(Based on IPL matches and deliveries dataset)


<a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


<a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import pandas as pd

In [0]:
import numpy as np

import io
from google.colab import files

In [0]:
uploaded = files.upload()
data = pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))
data

Saving matches.csv to matches (2).csv

        id  season  ...         umpire2                  umpire3
0        1    2017  ...        NJ Llong                      NaN
1        2    2017  ...          S Ravi                      NaN
2        3    2017  ...       CK Nandan                      NaN
3        4    2017  ...   C Shamshuddin                      NaN
4        5    2017  ...             NaN                      NaN
..     ...     ...  ...             ...                      ...
751  11347    2019  ...        O Nandan                   S Ravi
752  11412    2019  ...     Nitin Menon                Ian Gould
753  11413    2019  ...             NaN                      NaN
754  11414    2019  ...  Bruce Oxenford  Chettithody Shamshuddin
755  11415    2019  ...       Ian Gould              Nigel Llong

[756 rows x 18 columns]

In [0]:
uploaded = files.upload()
df = pd.read_csv(io.StringIO(uploaded['deliveries.csv'].decode('utf-8')))
df

Saving deliveries.csv to deliveries (2).csv

        match_id  inning  ... dismissal_kind    fielder
0              1       1  ...            NaN        NaN
1              1       1  ...            NaN        NaN
2              1       1  ...            NaN        NaN
3              1       1  ...            NaN        NaN
4              1       1  ...            NaN        NaN
...          ...     ...  ...            ...        ...
179073     11415       2  ...            NaN        NaN
179074     11415       2  ...            NaN        NaN
179075     11415       2  ...        run out  KH Pandya
179076     11415       2  ...            NaN        NaN
179077     11415       2  ...            lbw        NaN

[179078 rows x 21 columns]

## Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [0]:
data.drop_duplicates(subset='season')['city'].value_counts().head(1)

Mumbai    3
Name: city, dtype: int64

## Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [0]:
mask1=df[df['bowler']=='SL Malinga']

In [0]:
mask1.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(3)

batsman
RV Uthappa    81
CH Gayle      74
S Dhawan      69
Name: batsman_runs, dtype: int64

## Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [0]:
def IamtheBeast(team):
  mask1=df['batting_team']==team
  dataff=df[mask1]
  mask2=dataff['dismissal_kind']=='lbw'
  mask3=dataff['dismissal_kind']=='bowled'
  mask4=dataff['dismissal_kind']=='caught'
  mask5=dataff['dismissal_kind']=='caught and bowled'
  mask7=dataff['dismissal_kind']=='stumped'
  mask8=dataff['dismissal_kind']=='hit wicket'
  mask9= mask2 | mask3 | mask4 | mask5 |   mask7 | mask8 
  k=dataff[mask9]
  Beast=k.groupby('bowler').count()['dismissal_kind'].sort_values(ascending=False).head(1)
  return Beast

In [0]:
IamtheBeast("Mumbai Indians")

bowler
DJ Bravo    28
Name: dismissal_kind, dtype: int64

## Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won.  [Difficult]

ex.-- if team is CSK-- 
CSK in finals-

Played- 8
Won- 3

If any team which has not played in finals like Gujrat Lions

Gujrat Lions in finals-

Played-0

In [0]:
data.drop_duplicates(subset='season',keep='last')['winner'].value_counts()

Mumbai Indians           4
Chennai Super Kings      3
Kolkata Knight Riders    2
Deccan Chargers          1
Rajasthan Royals         1
Sunrisers Hyderabad      1
Name: winner, dtype: int64

In [0]:
data.drop_duplicates(subset='season',keep='last')['team1'].value_counts()

Chennai Super Kings    4
Mumbai Indians         4
Sunrisers Hyderabad    2
Kings XI Punjab        1
Deccan Chargers        1
Name: team1, dtype: int64

In [0]:
data.drop_duplicates(subset='season',keep='last')['team2'].value_counts()

Chennai Super Kings            4
Royal Challengers Bangalore    3
Kolkata Knight Riders          2
Rising Pune Supergiant         1
Rajasthan Royals               1
Mumbai Indians                 1
Name: team2, dtype: int64

In [0]:
def Stat(team):
  mask1=data.drop_duplicates(subset='season',keep='last')
  mask2=mask1['team1']==team
  mask3=mask1['team2']==team
  mask4=mask2 | mask3
  dl=mask1[mask4]
  total_played=dl.count()['id']
  s=dl['winner']==team
  total_win=dl[s].count()['id']
  print("In Finals  played",total_played)
  print("won",total_win)

In [0]:
Stat("Mumbai Indians")

In Finals  played 5
won 4

## Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [0]:
def Batsman(batsman):
  mask1=df[df['batsman']==batsman]
  total_runs=mask1.groupby('bowling_team').sum()['batsman_runs'].sort_values(ascending=False)
  return total_runs

In [0]:
Batsman("V Kohli")

bowling_team
Delhi Daredevils           763
Chennai Super Kings        749
Kolkata Knight Riders      675
Kings XI Punjab            636
Mumbai Indians             628
Sunrisers Hyderabad        509
Rajasthan Royals           370
Deccan Chargers            306
Gujarat Lions              283
Rising Pune Supergiants    188
Pune Warriors              128
Rising Pune Supergiant      83
Delhi Capitals              66
Kochi Tuskers Kerala        50
Name: batsman_runs, dtype: int64